@import './../../../common_settings/common.scss';
@import './../../../common_settings/theme.scss';

.box {
  @extend %container;
  @extend %flex-center;
}
.currentDay {
  color: $day-name-color;
  border: $font-size-value solid;
}
.otherMonth {
  color: silver;
  //color: transparent;
}
