$card_widtn: 100px;
$card_height: 100px;
.container {
  width: $card_width;
  height: $card_height;
  margin: 10px;
  .innerWrapper {
    position: relative;
    width: inherit;
    height: inherit;
    & > * {
      position: absolute;
      width: inherit;
      height: inherit;
      button {
        position: absolute;
        z-index: 100;
      }
    }
    .front {
      background-color: aqua;
    }
    .back {
      background-color: blue;
      z-index: 1;
      transform: rotateX(180);
    }
  }
}
.innerWrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  object-fit: cover;
  offset-position: top;
}
.innerWrapperChange {
  transform: rotateX(180);
}
