@import './../common_settings/common.scss';
@import './../common_settings/theme.scss';

.wrapper {
  @extend %wrapper;
  background-color: $primary-light-color;
  & > * {
    font-weight: lighter;
    text-transform: uppercase;
    color: $second-light-color;
  }
}
.name {
  @extend %title;
}
.number {
  font-size: $font-size-value * 15;
}
