@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(200, 156, 241);
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
.container {
  position: relative;
  background-color: rgb(97, 35, 240);
  width: 100%;
  min-width: 120px;
  max-width: 300px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 6px;
  margin-top: 200px;
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
  align-content: center;
  overflow: hidden;
  box-shadow: -1px 0px 15px 5px rgb(153, 143, 153);
}
.userName {
  color: black;
  padding: inherit;
  font-family: 'Grandstander', cursive;
}
.userWork {
  margin-top: 10px;
  color: rgb(111, 68, 211);
  padding: inherit;
  font-family: 'Open Sans', sans-serif;
}
.userAbout {
  margin-top: 20px;
  color: black;
  padding: inherit;
  font-family: 'Grandstander', cursive;
}
.but {
  height: 40px;
  width: 150px;
  border-radius: 30%;
  background-color: rgb(97, 35, 240);
  font-family: 'Open Sans', sans-serif;
}
.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: rgb(200, 156, 241);
  margin-top: -132px;
  margin-bottom: 25px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
