@import './theme.scss';
@import './vars.scss';

%container {
  $size: $font-size-value * 3;
  width: $size;
  height: $size;
  font-size: $font-size-value * 1.5;
  border-radius: 50%;
  font-weight: bold;
  color: $second-dark-color;
}
%title {
  font-size: $font-size-value * 2;
  margin-bottom: $font-size-value;
}
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%wrepper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $font-size-value * 50;
}
